/* Add this to your styles or CSS file */
@keyframes shrinkLine {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

#toast-success {
  position: relative;
}

.line {
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  left: 2px;
  height: 2px;
  width: 100%;
  background-color: #fff; /* Change the color as needed */
  animation: shrinkLine 5s forwards; /* 5s duration, forwards to keep final styles */
}

.gradient-background {
  background: linear-gradient(to bottom, #292929, #000000);
}

.gradiant-playlist {
  background: linear-gradient(to bottom, #545454, #2c2c2c);
}
