@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #282828;
}

/* Define the styles for the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-radius: 10px;
}

/* Define the styles for the scrollbar track */
::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

/* Define the styles for the scrollbar corner */
::-webkit-scrollbar-corner {
  background: #eee;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    cursor: pointer;
    overflow: hidden;
    border-radius: 50px;
    background-color: #4d4d4d;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 0px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #4d4d4d;
    border-radius: 50%; /* Make the thumb round */
    box-shadow: -384px 0 0 384px white;
    transition: background 0.3s ease; /* Smooth transition for the hover effect */
  }
}

input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: -384px 0 0 384px rgb(34 197 94 / 1);
}

/* Firefox */
input[type="range"] {
  cursor: pointer;
  overflow: hidden;
  border-radius: 50px;
  background-color: #4d4d4d;
}

input[type="range"]::-moz-range-thumb {
  width: 0px;
  appearance: none;
  cursor: ew-resize;
  background: #4d4d4d;
  border-radius: 50%; /* Make the thumb round */
  box-shadow: -384px 0 0 384px white;
  transition: background 0.3s ease; /* Smooth transition for the hover effect */
}

input[type="range"]::-moz-range-progress {
  background-color: rgb(34 197 94 / 1); /* Change the progress color */
}

input[type="range"]:hover::-moz-range-thumb {
  box-shadow: -384px 0 0 384px rgb(34 197 94 / 1);
}
