@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #282828;
}

/* Define the styles for the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #242424;
  border-radius: 10px;
}

/* Define the styles for the scrollbar track */
::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

/* Define the styles for the scrollbar corner */
::-webkit-scrollbar-corner {
  background: #eee;
}

/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    cursor: pointer;
    overflow: hidden;
    border-radius: 50px;
    background-color: #4d4d4d;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    color: white;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #4d4d4d;
    box-shadow: -384px 0 0 384px white;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: #fff; /* Change color to make it visible on hover */
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: white;
}
input[type="range"]::-moz-range-track {
  background-color: #4d4d4d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: white;
}
input[type="range"]::-ms-fill-upper {
  background-color: #4d4d4d;
}
